{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar pessoa</title>

    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <h1>Criar pessoa</h1>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
            <button class="btn btn-primary" type="submit">Cadastrar</button>
            {% endbuttons %}
        </form>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <a href="{% url 'index' %}">Retornar à Home</a>
            </div>
        </div> 
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>